*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures


# pdf
*.aux
*.log
*.synctex.gz
*.pdf
*.toc
*.out

*.xlsx

*.synctex.gz(busy)
*.bbl
*.blg

*.picasa.ini
